In [37]:
import pandas as pd
import numpy as np
import datetime as dt
import re
import math
from math import isnan

In [38]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [39]:
fulldata2 = pd.read_excel("/content/drive/MyDrive/dadosTEP/dadosbases.xlsx", sheet_name='AlmoÃ§o2019')
fulldata2.head(40)

,ALMOÃ‡O SOBRAL,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JANEIRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CATEGORIA,DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
3,NaN,1.0,2.0,3.0,4.0,7.0,8.0,9.0,10.0,11.0,...,28.0,29.0,30.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
4,ESTUDANTE,0.0,0.0,0.0,0.0,84.0,82.0,91.0,82.0,62.0,...,164.0,171.0,142.0,159.0,NaN,NaN,NaN,NaN,NaN,2087
5,ISENTO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,3.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,19
6,RESIDENTE,0.0,0.0,0.0,0.0,21.0,21.0,24.0,21.0,16.0,...,38.0,35.0,29.0,27.0,NaN,NaN,NaN,NaN,NaN,506
7,SERVIDOR,0.0,0.0,0.0,0.0,1.0,2.0,2.0,2.0,1.0,...,4.0,3.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN,62
8,DOCENTE,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,23
9,TERCEIRIZADO,0.0,0.0,0.0,0.0,3.0,3.0,5.0,1.0,0.0,...,0.0,0.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,30
10,AUTORIZADO,0.0,0.0,0.0,0.0,3.0,3.0,4.0,5.0,5.0,...,5.0,5.0,4.0,7.0,NaN,NaN,NaN,NaN,NaN,88
11,VISITANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
12,EVENTO GRATUITO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
13,EVENTO PAGANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
14,TOTAL,0.0,0.0,0.0,0.0,113.0,111.0,126.0,111.0,85.0,...,215.0,217.0,190.0,206.0,0.0,0.0,0.0,0.0,0.0,2815
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,FEVEREIRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,CATEGORIA,DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
18,NaN,1.0,4.0,5.0,6.0,7.0,8.0,11.0,12.0,13.0,...,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ESTUDANTE,140.0,178.0,157.0,161.0,162.0,139.0,165.0,173.0,183.0,...,702.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7777
20,ISENTO,5.0,3.0,4.0,4.0,4.0,2.0,2.0,3.0,5.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179
21,RESIDENTE,25.0,32.0,34.0,36.0,28.0,24.0,37.0,40.0,47.0,...,149.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1626
22,SERVIDOR,5.0,4.0,4.0,5.0,3.0,3.0,7.0,2.0,3.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65
23,DOCENTE,3.0,3.0,2.0,3.0,4.0,1.0,3.0,2.0,2.0,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66
24,TERCEIRIZADO,4.0,0.0,0.0,3.0,3.0,0.0,1.0,0.0,2.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
25,AUTORIZADO,7.0,8.0,4.0,5.0,5.0,5.0,4.0,5.0,4.0,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92
26,VISITANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
27,EVENTO GRATUITO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
28,EVENTO PAGANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
29,TOTAL,189,228.0,205.0,217.0,209.0,174.0,219.0,225.0,246.0,...,879.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9822
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,MARÃ‡O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,CATEGORIA,DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
33,NaN,1.0,4.0,5.0,6.0,7.0,8.0,11.0,12.0,13.0,...,28.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ESTUDANTE,434.0,0.0,0.0,0.0,486.0,456.0,630.0,757.0,700.0,...,659.0,546.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9574
35,ISENTO,8.0,0.0,0.0,0.0,11.0,8.0,15.0,20.0,15.0,...,16.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224
36,RESIDENTE,90.0,0.0,0.0,0.0,93.0,90.0,130.0,143.0,144.0,...,142.0,114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1983
37,SERVIDOR,2.0,0.0,0.0,0.0,4.0,2.0,4.0,1.0,1.0,...,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
38,DOCENTE,0.0,0.0,0.0,0.0,4.0,2.0,5.0,3.0,5.0,...,2.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63
39,TERCEIRIZADO,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13

In [40]:
#variÃ¡vel que controla os meses corretos.
month_control = 1
#dicionÃ¡rio em python vai fazer correspondncia do mÃªs com a linha.
correspondent_month = {
  1: '01',
  16:'02',
  31:'03',
  46:'04',
  61:"05",
  76:'06',
  91:'07',
  106:'08',
  121:'09',
  136:'10',
  151:'11',
  166:'12',
}
#contandor do mÃªs comeÃ§a no 0
counter_month_year=0
#controle a aplicaÃ§Ã£o
while True:
#comeÃ§a em 0 incrementado a cada mÃªs a cada interaÃ§Ã£o 
  counter_month_year += 1
#laÃ§o for controla a execuÃ§Ã£o de cada mÃªs
  for each_columns in fulldata2.columns:# fultdata2 retorna uma lista de todas colunas

# pega cada coluna exemplo almoÃ§o depois unnamend e converte pra string
    each_columns = str(each_columns)
#se ele for igual almoÃ§o sobral n precisamos
    if each_columns == 'ALMOÃ‡O SOBRAL':
      continue 
    
    
#linha dos dias corretos recebe mÃªs control soma mais 2 para aparecer a linha correta
    correct_days_line = month_control + 2
#mÃªs verdadeiro vai receber o dicionario acima e retorna o valor ao correpondente (caso n encontre retorna none)
    real_month = correspondent_month.get(month_control)
#controle da linha  equivalente ao total e pra acertar os linha certa basta somar
    control_quantaty_line = correct_days_line + 11
# tratar erros atravÃ©s dessa estrutra(assim que acabar os dias )
    try:

     day_month = str(int(fulldata2[each_columns][correct_days_line]))

    except Exception as error:
      break #sair de laÃ§o for
#dias corretos, mÃªs real, e dia do mÃªs e joga no  dia atual
#      
      
    current_date = '2019/'+ real_month +'/'+ re.findall("\d+", day_month)[0] #re biblioteca pra pegar expressÃµes regulares
    quantidade = fulldata2[each_columns][control_quantaty_line]
    print(f'{current_date} | {quantidade}')

#atualizar o controle do mÃªs ou seja soma 1 posi
  month_control+= 15
  if counter_month_year >= 12:#teste pra saber se foi tratado todos os meses
    break #sair do laÃ§o while

2019/01/1 | 0.0
2019/01/2 | 0.0
2019/01/3 | 0.0
2019/01/4 | 0.0
2019/01/7 | 113.0
2019/01/8 | 111.0
2019/01/9 | 126.0
2019/01/10 | 111.0
2019/01/11 | 85.0
2019/01/14 | 117.0
2019/01/15 | 127.0
2019/01/16 | 157.0
2019/01/17 | 111.0
2019/01/18 | 114.0
2019/01/21 | 149.0
2019/01/22 | 156.0
2019/01/23 | 179.0
2019/01/24 | 188.0
2019/01/25 | 143.0
2019/01/28 | 215.0
2019/01/29 | 217.0
2019/01/30 | 190.0
2019/01/31 | 206.0
2019/02/1 | 189
2019/02/4 | 228.0
2019/02/5 | 205.0
2019/02/6 | 217.0
2019/02/7 | 209.0
2019/02/8 | 174.0
2019/02/11 | 219.0
2019/02/12 | 225.0
2019/02/13 | 246.0
2019/02/14 | 238.0
2019/02/15 | 215.0
2019/02/18 | 666.0
2019/02/19 | 837.0
2019/02/20 | 870.0
2019/02/21 | 874.0
2019/02/22 | 696.0
2019/02/25 | 812.0
2019/02/26 | 950.0
2019/02/27 | 873.0
2019/02/28 | 879.0
2019/03/1 | 542
2019/03/4 | 0.0
2019/03/5 | 0.0
2019/03/6 | 0.0
2019/03/7 | 603.0
2019/03/8 | 563.0
2019/03/11 | 789.0
2019/03/12 | 928.0
2019/03/13 | 870.0
2019/03/14 | 861.0
2019/03/15 | 699.0
2019/03/18 | 668.0
2019/03/19 | 0.0
2019/03/20 | 850.0
2019/03/21 | 876.0
2019/03/22 | 696.0
2019/03/25 | 0.0
2019/03/26 | 856.0
2019/03/27 | 822.0
2019/03/28 | 830.0
2019/03/29 | 687.0
2019/04/1 | 719
2019/04/2 | 808.0
2019/04/3 | 839.0
2019/04/4 | 791.0
2019/04/5 | 667.0
2019/04/8 | 703.0
2019/04/9 | 844.0
2019/04/10 | 811.0
2019/04/11 | 791.0
2019/04/12 | 568.0
2019/04/15 | 743.0
2019/04/16 | 865.0
2019/04/17 | 729.0
2019/04/18 | 0.0
2019/04/19 | 0.0
2019/04/22 | 660.0
2019/04/23 | 858.0
2019/04/24 | 812.0
2019/04/25 | 785.0
2019/04/26 | 672.0
2019/04/29 | 738.0
2019/04/30 | 874.0
2019/05/1 | 0.0
2019/05/2 | 805.0
2019/05/3 | 693.0
2019/05/6 | 780.0
2019/05/7 | 880.0
2019/05/8 | 971.0
2019/05/9 | 843.0
2019/05/10 | 655.0
2019/05/13 | 684.0
2019/05/14 | 873.0
2019/05/15 | 699.0
2019/05/16 | 818.0
2019/05/17 | 771.0
2019/05/20 | 775.0
2019/05/21 | 963.0
2019/05/22 | 876.0
2019/05/23 | 937.0
2019/05/24 | 708.0
2019/05/27 | 725.0
2019/05/28 | 954.0
2019/05/29 | 905.0
2019/05/30 | 919.0
2019/05/31 | 757.0
2019/06/3 | 725
2019/06/4 | 931.0
2019/06/5 | 939.0
2019/06/6 | 868.0
2019/06/7 | 715.0
2019/06/10 | 746.0
2019/06/11 | 944.0
2019/06/12 | 901.0
2019/06/13 | 832.0
2019/06/14 | 579.0
2019/06/17 | 746.0
2019/06/18 | 915.0
2019/06/19 | 803.0
2019/06/20 | 0.0
2019/06/21 | 468.0
2019/06/24 | 664.0
2019/06/25 | 678.0
2019/06/26 | 653.0
2019/06/27 | 593.0
2019/06/28 | 461.0
2019/07/1 | 368
2019/07/2 | 466.0
2019/07/3 | 402.0
2019/07/4 | 297.0
2019/07/5 | 0.0
2019/07/8 | 139.0
2019/07/9 | 153.0
2019/07/10 | 153.0
2019/07/11 | 130.0
2019/07/12 | 113.0
2019/07/15 | 118.0
2019/07/16 | 149.0
2019/07/17 | 140.0
2019/07/18 | 133.0
2019/07/19 | 94.0
2019/07/22 | 118.0
2019/07/23 | 125.0
2019/07/24 | 127.0
2019/07/25 | 120.0
2019/07/26 | 130.0
2019/07/29 | 135.0
2019/07/30 | 129.0
2019/07/31 | 135.0
2019/08/1 | 150
2019/08/2 | 133.0
2019/08/5 | 801.0
2019/08/6 | 912.0
2019/08/7 | 927.0
2019/08/8 | 948.0
2019/08/9 | 661.0
2019/08/12 | 834.0
2019/08/13 | 1006.0
2019/08/14 | 975.0
2019/08/15 | 913.0
2019/08/16 | 750.0
2019/08/19 | 863.0
2019/08/20 | 1022.0
2019/08/21 | 991.0
2019/08/22 | 969.0
2019/08/23 | 773.0
2019/08/26 | 824.0
2019/08/27 | 957.0
2019/08/28 | 989.0
2019/08/29 | 931.0
2019/08/30 | 679.0
2019/09/2 | 839
2019/09/3 | 958.0
2019/09/4 | 918.0
2019/09/5 | 938.0
2019/09/6 | 724.0
2019/09/9 | 824.0
2019/09/10 | 963.0
2019/09/11 | 962.0
2019/09/12 | 952.0
2019/09/13 | 781.0
2019/09/16 | 867.0
2019/09/17 | 991.0
2019/09/18 | 927.0
2019/09/19 | 956.0
2019/09/20 | 752.0
2019/09/23 | 817.0
2019/09/24 | 970.0
2019/09/25 | 966.0
2019/09/26 | 845.0
2019/09/27 | 717.0
2019/09/30 | 814.0
2019/10/1 | 910
2019/10/2 | 919.0
2019/10/3 | 839.0
2019/10/4 | 684.0
2019/10/7 | 774.0
2019/10/8 | 924.0
2019/10/9 | 849.0
2019/10/10 | 812.0
2019/10/11 | 698.0
2019/10/14 | 0.0
2019/10/15 | 821.0
2019/10/16 | 907.0
2019/10/17 | 842.0
2019/10/18 | 678.0
2019/10/21 | 775.0
2019/10/22 | 908.0
2019/10/23 | 908.0
2019/10/24 | 803.0
2019/10/25 | 589.0
2019/10/29 | 836.0
2019/10/30 | 866.0
2019/10/31 | 782.0
2019/11/1 | 640
2019/11/4 | 798.0
2019/11/5 | 915.0
2019/11/6 | 852.0
2019/11/7 | 809.0
2019/11/8 | 677.0
2019/11/11 | 743.0
2019/11/12 | 865.0
2019/11/13 | 871.0
2019/11/14 | 717.0
2019/11/18 | 745.0
2019/11/19 | 873.0
2019/11/20 | 819.0
2019/11/21 | 834.0
2019/11/22 | 656.0
2019/11/25 | 735.0
2019/11/26 | 823.0
2019/11/27 | 806.0
2019/11/28 | 776.0
2019/11/29 | 599.0
2019/12/2 | 645
2019/12/3 | 702.0
2019/12/4 | 664.0
2019/12/5 | 629.0
2019/12/6 | 487.0
2019/12/9 | 378.0
2019/12/10 | 410.0
2019/12/11 | 393.0
2019/12/12 | 333.0
2019/12/13 | 238.0
2019/12/16 | 130.0
2019/12/17 | 134.0
2019/12/18 | 150.0
2019/12/19 | 120.0
2019/12/20 | 106.0
2019/12/23 | 0.0
2019/12/24 | 0.0
2019/12/25 | 0.0
2019/12/26 | 0.0
2019/12/27 | 0.0
2019/12/30 | 0.0
2019/12/31 | 0.0

In [42]:
    fulldata2.to_csv("A2019.csv")

In [41]:
fulldatajantar = pd.read_excel("/content/drive/MyDrive/dadosTEP/dadosbases.xlsx", sheet_name='Jantar2019')
fulldatajantar.head(40)

,JANTAR SOBRAL,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JANEIRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CATEGORIA,DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
3,NaN,1.0,2.0,3.0,4.0,7.0,8.0,9.0,10.0,11.0,...,28.0,29.0,30.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
4,ESTUDANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
5,ISENTO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
6,RESIDENTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
7,SERVIDOR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
8,DOCENTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
9,TERCEIRIZADO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
10,AUTORIZADO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
11,VISITANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
12,EVENTO GRATUITO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
13,EVENTO PAGANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
14,TOTAL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16,FEVEREIRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,CATEGORIA,DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
18,NaN,1.0,4.0,5.0,6.0,7.0,8.0,11.0,12.0,13.0,...,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ESTUDANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,424.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3613
20,ISENTO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91
21,RESIDENTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,772
22,SERVIDOR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
23,DOCENTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
24,TERCEIRIZADO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
25,AUTORIZADO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
26,VISITANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
27,EVENTO GRATUITO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
28,EVENTO PAGANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
29,TOTAL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,526.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4501
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
31,MARÃ‡O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,CATEGORIA,DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
33,NaN,1.0,4.0,5.0,6.0,7.0,8.0,11.0,12.0,13.0,...,28.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ESTUDANTE,236.0,0.0,0.0,0.0,344.0,287.0,419.0,443.0,450.0,...,406.0,273.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5716
35,ISENTO,4.0,0.0,0.0,0.0,9.0,6.0,10.0,19.0,12.0,...,11.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143
36,RESIDENTE,52.0,0.0,0.0,0.0,71.0,55.0,84.0,92.0,94.0,...,88.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1155
37,SERVIDOR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
38,DOCENTE,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
39,TERCEIRIZADO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

In [43]:
fulldatajantar = pd.read_excel("/content/drive/MyDrive/dadosTEP/dadosbases.xlsx", sheet_name='Jantar2019')
fulldatajantar.head(40)

,JANTAR SOBRAL,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JANEIRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CATEGORIA,DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
3,NaN,1.0,2.0,3.0,4.0,7.0,8.0,9.0,10.0,11.0,...,28.0,29.0,30.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
4,ESTUDANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
5,ISENTO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
6,RESIDENTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
7,SERVIDOR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
8,DOCENTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
9,TERCEIRIZADO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
10,AUTORIZADO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
11,VISITANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
12,EVENTO GRATUITO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
13,EVENTO PAGANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
14,TOTAL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16,FEVEREIRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,CATEGORIA,DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
18,NaN,1.0,4.0,5.0,6.0,7.0,8.0,11.0,12.0,13.0,...,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ESTUDANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,424.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3613
20,ISENTO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91
21,RESIDENTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,772
22,SERVIDOR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
23,DOCENTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
24,TERCEIRIZADO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
25,AUTORIZADO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
26,VISITANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
27,EVENTO GRATUITO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
28,EVENTO PAGANTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
29,TOTAL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,526.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4501
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
31,MARÃ‡O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,CATEGORIA,DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL
33,NaN,1.0,4.0,5.0,6.0,7.0,8.0,11.0,12.0,13.0,...,28.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ESTUDANTE,236.0,0.0,0.0,0.0,344.0,287.0,419.0,443.0,450.0,...,406.0,273.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5716
35,ISENTO,4.0,0.0,0.0,0.0,9.0,6.0,10.0,19.0,12.0,...,11.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143
36,RESIDENTE,52.0,0.0,0.0,0.0,71.0,55.0,84.0,92.0,94.0,...,88.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1155
37,SERVIDOR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
38,DOCENTE,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
39,TERCEIRIZADO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

In [44]:
#variavel que controla os meses corretos mudar para control line
month_control = 1
#dicionÃ¡rio em python vai fazer correondencia do mÃªs com a linha.
correspondent_month = {
  1: '01',
  16:'02',
  31:'03',
  46:'04',
  61:"05",
  76:'06',
  91:'07',
  106:'08',
  121:'09',
  136:'10',
  151:'11',
  166:'12',
}
#contando do mÃªs comeÃ§a no 0
counter_month_year=0
#controle a aplicaÃ§Ã£o
while True:
#comeÃ§a em 0 incrementado a cada mÃªs 
  counter_month_year += 1
#laÃ§o for controla a execuÃ§Ã£ode cada mÃªs
  for each_columns in fulldatajantar.columns:# fultdata2 retorna uma lista de todas colunas

# pega cada coluna exemplo  depois unnamend ee converte pra string
    each_columns = str(each_columns).strip()#funÃ§Ã£o para retirar espaÃ§os
#se ele for igual almoco sobral n precisamos
    if each_columns == 'JANTAR SOBRAL':
      continue 
    
    #import pdb; pdb.set_trace()
#linha dos dias corretos recebe mÃªs control soma mais 2 para aparecer a linha correta
    correct_days_line = month_control + 2
#mes verdadeiros e recebemos o dicionario acima e retorna o valor ao correpondente (caso n encontre retorna none)
    real_month = correspondent_month.get(month_control)
#controle da linha  equeivalente ao totale e pra acertar os linha certa basta somar
    control_quantaty_line = correct_days_line + 11
# tratar erros atravÃ©s dessa estrutra(assim que acabar os dias )
    try:

     day_month = str(int(fulldatajantar[each_columns][correct_days_line]))

    except Exception as error:
      print('caiu na excessÃ£o')
      #import pdb; pdb.set_trace()
      break #sair de laÃ§o for
#dias corretos, mes real, e dia domes e joga no  dia atual
      
    #print('execuÃ§Ã£o deu certo') 
    current_date = '2019/'+ real_month +'/'+ re.findall("\d+", day_month)[0] 
    quantidade = fulldatajantar[each_columns][control_quantaty_line]
    print(f'{current_date} | {quantidade}')

#atualizar o controle do mÃªs ou seja soma 1 posi
  month_control+= 15
  if counter_month_year >= 12:#teste pra saber se foi tratado todos os meses
    break #sair do laÃ§o while

2019/01/1 | 0.0
2019/01/2 | 0.0
2019/01/3 | 0.0
2019/01/4 | 0.0
2019/01/7 | 0.0
2019/01/8 | 0.0
2019/01/9 | 0.0
2019/01/10 | 0.0
2019/01/11 | 0.0
2019/01/14 | 0.0
2019/01/15 | 0.0
2019/01/16 | 0.0
2019/01/17 | 0.0
2019/01/18 | 0.0
2019/01/21 | 0.0
2019/01/22 | 0.0
2019/01/23 | 0.0
2019/01/24 | 0.0
2019/01/25 | 0.0
2019/01/28 | 0.0
2019/01/29 | 0.0
2019/01/30 | 0.0
2019/01/31 | 0.0
caiu na excessÃ£o
2019/02/1 | 0.0
2019/02/4 | 0.0
2019/02/5 | 0.0
2019/02/6 | 0.0
2019/02/7 | 0.0
2019/02/8 | 0.0
2019/02/11 | 0.0
2019/02/12 | 0.0
2019/02/13 | 0.0
2019/02/14 | 0.0
2019/02/15 | 0.0
2019/02/18 | 445.0
2019/02/19 | 559.0
2019/02/20 | 479.0
2019/02/21 | 481.0
2019/02/22 | 387.0
2019/02/25 | 558.0
2019/02/26 | 544.0
2019/02/27 | 522.0
2019/02/28 | 526.0
caiu na excessÃ£o
2019/03/1 | 295
2019/03/4 | 0.0
2019/03/5 | 0.0
2019/03/6 | 0.0
2019/03/7 | 426.0
2019/03/8 | 351.0
2019/03/11 | 516.0
2019/03/12 | 558.0
2019/03/13 | 558.0
2019/03/14 | 529.0
2019/03/15 | 402.0
2019/03/18 | 410.0
2019/03/19 | 0.0
2019/03/20 | 547.0
2019/03/21 | 510.0
2019/03/22 | 388.0
2019/03/25 | 0.0
2019/03/26 | 552.0
2019/03/27 | 543.0
2019/03/28 | 511.0
2019/03/29 | 341.0
caiu na excessÃ£o
2019/04/1 | 489
2019/04/2 | 512.0
2019/04/3 | 499.0
2019/04/4 | 511.0
2019/04/5 | 437.0
2019/04/8 | 500.0
2019/04/9 | 535.0
2019/04/10 | 547.0
2019/04/11 | 512.0
2019/04/12 | 0.0
2019/04/15 | 474.0
2019/04/16 | 541.0
2019/04/17 | 391.0
2019/04/18 | 0.0
2019/04/19 | 0.0
2019/04/22 | 487.0
2019/04/23 | 556.0
2019/04/24 | 504.0
2019/04/25 | 506.0
2019/04/26 | 408.0
2019/04/29 | 495.0
2019/04/30 | 485.0
caiu na excessÃ£o
2019/05/1 | 0.0
2019/05/2 | 546.0
2019/05/3 | 380.0
2019/05/6 | 536.0
2019/05/7 | 581.0
2019/05/8 | 546.0
2019/05/9 | 538.0
2019/05/10 | 379.0
2019/05/13 | 513.0
2019/05/14 | 583.0
2019/05/15 | 450.0
2019/05/16 | 600.0
2019/05/17 | 447.0
2019/05/20 | 546.0
2019/05/21 | 559.0
2019/05/22 | 598.0
2019/05/23 | 581.0
2019/05/24 | 397.0
2019/05/27 | 574.0
2019/05/28 | 653.0
2019/05/29 | 575.0
2019/05/30 | 557.0
2019/05/31 | 379.0
caiu na excessÃ£o
2019/06/3 | 557
2019/06/4 | 598.0
2019/06/5 | 591.0
2019/06/6 | 553.0
2019/06/7 | 398.0
2019/06/10 | 551.0
2019/06/11 | 565.0
2019/06/12 | 536.0
2019/06/13 | 486.0
2019/06/14 | 302.0
2019/06/17 | 548.0
2019/06/18 | 506.0
2019/06/19 | 448.0
2019/06/20 | 0.0
2019/06/21 | 230.0
2019/06/24 | 443.0
2019/06/25 | 429.0
2019/06/26 | 405.0
2019/06/27 | 355.0
2019/06/28 | 245.0
caiu na excessÃ£o
2019/07/1 | 255
2019/07/2 | 260.0
2019/07/3 | 208.0
2019/07/4 | 146.0
2019/07/5 | 0.0
2019/07/8 | 0.0
2019/07/9 | 0.0
2019/07/10 | 0.0
2019/07/11 | 0.0
2019/07/12 | 0.0
2019/07/15 | 28.0
2019/07/16 | 26.0
2019/07/17 | 26.0
2019/07/18 | 21.0
2019/07/19 | 0.0
2019/07/22 | 0.0
2019/07/23 | 0.0
2019/07/24 | 0.0
2019/07/25 | 0.0
2019/07/26 | 0.0
2019/07/29 | 0.0
2019/07/30 | 0.0
2019/07/31 | 0.0
caiu na excessÃ£o
2019/08/1 | 0.0
2019/08/2 | 0.0
2019/08/5 | 544.0
2019/08/6 | 539.0
2019/08/7 | 587.0
2019/08/8 | 550.0
2019/08/9 | 338.0
2019/08/12 | 633.0
2019/08/13 | 643.0
2019/08/14 | 642.0
2019/08/15 | 602.0
2019/08/16 | 407.0
2019/08/19 | 609.0
2019/08/20 | 663.0
2019/08/21 | 628.0
2019/08/22 | 649.0
2019/08/23 | 406.0
2019/08/26 | 593.0
2019/08/27 | 664.0
2019/08/28 | 714.0
2019/08/29 | 577.0
2019/08/30 | 368.0
2019/08/31 | 0.0
caiu na excessÃ£o
2019/09/2 | 607
2019/09/3 | 654.0
2019/09/4 | 670.0
2019/09/5 | 591.0
2019/09/6 | 357.0
2019/09/9 | 579.0
2019/09/10 | 640.0
2019/09/11 | 640.0
2019/09/12 | 611.0
2019/09/13 | 405.0
2019/09/16 | 587.0
2019/09/17 | 651.0
2019/09/18 | 655.0
2019/09/19 | 650.0
2019/09/20 | 384.0
2019/09/23 | 598.0
2019/09/24 | 615.0
2019/09/25 | 607.0
2019/09/26 | 547.0
2019/09/27 | 357.0
2019/09/30 | 563.0
caiu na excessÃ£o
2019/10/1 | 629
2019/10/2 | 581.0
2019/10/3 | 554.0
2019/10/4 | 324.0
2019/10/7 | 530.0
2019/10/8 | 579.0
2019/10/9 | 585.0
2019/10/10 | 534.0
2019/10/11 | 353.0
2019/10/14 | 0.0
2019/10/15 | 616.0
2019/10/16 | 611.0
2019/10/17 | 553.0
2019/10/18 | 365.0
2019/10/21 | 582.0
2019/10/22 | 639.0
2019/10/23 | 599.0
2019/10/24 | 501.0
2019/10/25 | 298.0
2019/10/29 | 550.0
2019/10/30 | 567.0
2019/10/31 | 539.0
caiu na excessÃ£o
2019/11/1 | 333
2019/11/4 | 533.0
2019/11/5 | 562.0
2019/11/6 | 581.0
2019/11/7 | 485.0
2019/11/8 | 329.0
2019/11/11 | 526.0
2019/11/12 | 599.0
2019/11/13 | 583.0
2019/11/14 | 398.0
2019/11/18 | 519.0
2019/11/19 | 545.0
2019/11/20 | 546.0
2019/11/21 | 519.0
2019/11/22 | 350.0
2019/11/25 | 514.0
2019/11/26 | 499.0
2019/11/27 | 507.0
2019/11/28 | 480.0
2019/11/29 | 256.0
caiu na excessÃ£o
2019/12/2 | 473
2019/12/3 | 408.0
2019/12/4 | 383.0
2019/12/5 | 352.0
2019/12/6 | 224.0
2019/12/9 | 255.0
2019/12/10 | 212.0
2019/12/11 | 177.0
2019/12/12 | 140.0
2019/12/13 | 76.0
2019/12/16 | 0.0
2019/12/17 | 0.0
2019/12/18 | 0.0
2019/12/19 | 0.0
2019/12/20 | 0.0
2019/12/23 | 0.0
2019/12/24 | 0.0
2019/12/25 | 0.0
2019/12/26 | 0.0
2019/12/27 | 0.0
2019/12/30 | 0.0
2019/12/31 | 0.0
caiu na excessÃ£o